#codigo { width: 4rem; }
#almoxarifado{ width: 20rem;}

/* Colunas da GRID: */
:host ::ng-deep .codigo { width: 6rem; }
:host ::ng-deep .almoxarifado { width: 42rem; }

:host ::ng-deep .focus {
    background-color: cornflowerblue !important;
    color: white !important;
}