header {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;

    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid lightgray;

    & .titulo {
        font: bold 1.75rem 'Roboto';
        padding: .5rem 0rem .5rem 1rem;
    }

    & .informacoes {
        font: normal 1rem 'Calibri';

        & .entidade {
            display: inline-block;
            padding-top: .5rem;
            font: bold 1.2rem 'Calibri';
        }

        & button {
            float: right;
            margin: .5rem;
            height: 2.5rem;

            font: normal 1rem 'Calibri';
            transition: .2s;

            background: linear-gradient(to top, lightgray, white);
            border: 1px solid gray;
            border-radius: 3px;
        }

        & button:hover {
            cursor: pointer;
            filter: brightness(.9);
        }

        & img {
            width: 1.25rem;
            margin-bottom: -.25rem;
        }

    }
}

main {

    & .componente {
        width: 35rem;
        position: absolute;
        top: 15%;
        left: 30%;

        box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);
    }

    & .titulo-componente {
        background-color: lightgray;
        font: bold 1rem 'Calibri';
        padding: .2rem 0rem .2rem 1rem;
    }
    
    & img {
        float: left;
        width: 10rem;
        margin: .5rem .5rem .5rem 1rem;
    }

    & .corpo-componente {
        height: 12rem;
        background-color: #DDE6EA;
        box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.5);

        & label {
            display: inline-block;
            width: 6rem;
            
            margin-top: 1rem;
            font: normal 1rem 'Calibri';
        }

        & input {
            width: 13rem;
            height: 1.45rem;

            font: normal 1rem 'Calibri';

            outline: none;
            border: 1px solid gray;
            border-radius: 3px;
        }

        & input:focus {
            border: 1px solid cornflowerblue;
        }

        & button {
            display: flex;
            float: right;
            width: 6rem;
            height: 2rem;
            margin: 1rem 4rem 0rem 0rem;

            align-items: center;
            font: normal 1rem 'Calibri';

            background: linear-gradient(to top, lightgray, white);
            border: 1px solid gray;
            border-radius: 3px;

            & img {
                width: 1.25rem;
                height: 1.25;
                margin: .25rem;
            }
        }

        & button:hover {
            cursor: pointer;
            filter: brightness(.9);
        }
    }
}