<section class="componente-login">
    <header>
        <div class="titulo">
            <span>Compras & Almoxarifado</span>
        </div>
        <div class="informacoes">
            <button><img src="../../../assets/sair.svg" alt="imagem-sair.svg"><br>Sair</button>
            <span class="entidade">{{entidade}}</span><br>
            <span>Versão: {{versao}}</span>
        </div>
    </header>
    <main>
        <div class="componente">
            <div class="titulo-componente">
                <span>Login:</span>
            </div>
            <div class="corpo-componente">
                <img src="../../../assets/login.svg" alt="imagem-login.svg">
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario">
                <br>
                <label for="senha">Senha:</label>
                <input type="password" id="senha">
                <br>
                <label for="exercicio">Exercício:</label>
                <select name="" id="exercicio">
                    <option value="" hidden></option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select><br><br>

                <button (click)="login()"><img src="../../../assets/check.svg" alt="imagem-check.svg">Login</button>
                <span class="mensagem">{{mensagem}}</span>
            </div>
        </div>
    </main>
</section>