<section class="componente-login">
    <header>
        <div class="titulo">
            <span>Compras & Almoxarifado</span>
        </div>
        <div class="informacoes">
            <button><img src="../../../assets/sair.svg" alt="imagem-sair.svg"><br>Sair</button>
            <span class="entidade">!ENTIDADE!</span><br>
            <span>!VERSAO!</span>
        </div>
    </header>
    <main>
        <div class="componente">
            <div class="titulo-componente">
                <span>Login:</span>
            </div>
            <div class="corpo-componente">
                <img src="../../../assets/login.svg" alt="imagem-login.svg">
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario">
                <br>
                <label for="senha">Senha:</label>
                <input type="text" id="senha">
                <br>
                <label for="exercicio">Exercício:</label>
                <input type="text" id="exercicio" list="exercicioData"><br>
                <datalist id="exercicioData">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </datalist>

                <button><img src="../../../assets/check.svg" alt="imagem-check.svg">Login</button>
                
            </div>
        </div>
    </main>
</section>