* { user-select: none;}

.componente {
    position: absolute;
    width: 50rem;
    height: 28rem;
    margin-top: 5%;
    margin-left: 20%;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);
}

.titulo-componente {
    display: inline-block;
    width: 100%;
    background-color: lightgray;

    & span {
        display: inline-block;
        font: bold 1rem 'Calibri';
        padding: .25rem 0rem .25rem .5rem;
    }
}

.ferramentas {
    width: 100%;
    background-color: #D0DDE4;
    box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.5);
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgray;

    & button {
        width: 4rem;
        height: 3rem;
        margin: .5rem 0rem 0rem 0rem;

        font: normal .8rem 'Calibri';
        color: rgba(0, 0, 0, 0.75);
        border: 1px solid gray;
        border-radius: 3px;

        transition: .2s;
        background: linear-gradient(to top, lightgray, white);
        box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
    }

    & button:hover {
        cursor: pointer;
        filter: brightness(.9);
    }

    .operadores {
        width: 100%;
        
        & button {
            float: right;
            margin-right: .5rem;
        }

        & span {
            float: right;
            font: bold .9rem 'Calibri';
            margin: .5rem;
        }

        .fechar {
            float: right;
            margin-right: .5rem;
        }
    }

    .crud {
        display: inline-block;
        width: 100%;

        & button {
            float: left;
            margin-left: .5rem;
        }

        .fechar {
            float: right;
            margin-right: .5rem;
        }
    }

    
}

.grid-pesquisar {
    display: inline-flex;
    align-items: center;
    background-color: #ECECEC;

    & img {
        width: 1.25rem;
        height: 1.25rem;
        margin: .125rem .25rem .125rem .25rem;
    }

    & input {
        width: 36.5rem;
        height: 1.25rem;
        margin: .25rem 0rem .25rem 0rem;

        font: normal 0.9rem 'Calibri';

        outline: none;
        border: 1px solid gray;
        border-radius: 2px;
    }

    & button {
        width: 5rem;
        height: 1.5rem;
        margin: 0rem .25rem 0rem .25rem;
        
        font: normal .9rem 'Calibri';
        border: 1px solid gray;
        border-radius: 3px;

        transition: .2s;
        background: linear-gradient(to top, lightgray, white);
    }

    & button:hover {
        cursor: pointer;
        filter: brightness(.9);
    }

    & span {
        font-size: 1.25rem;
    }
}

.grid-tabela {
    display: inline-block;
    border-collapse: collapse;

    & thead {
        display: block;

        text-align: left;
        font: bold 1rem 'Calibri';
        
        overflow-y: scroll;
        background: linear-gradient(to top, lightgray, white);
    }

    & tbody {
        display: block;
        height: 17.5rem;

        font: normal 0.85rem 'Calibri';
        text-align: left;
        
        overflow-y: scroll;
        background-color: #ECECEC;
    }

    & th, td {
        border: 1px solid lightgray;
        padding-left: .5rem;
    }

    &  tbody tr:nth-child(odd){
        background-color: white;
    }
}

.dados-componente {
    height: 21.25rem;
    padding: .5rem;
    background-color: #DDE6EA;

    & .dados {
        height: 100%;
        border: 1px solid gray;
    }

    & label {
        display: inline-block;
        width: 5rem;
        padding: .125rem 0rem .125rem .25rem;
        margin: .5rem 0rem 0rem .5rem;

        font: normal .9rem 'Calibri';
        background-color: #AEBEC7;
    }

    & input {
        height: 1.12rem;
        padding-left: .25rem;

        font: normal .85rem 'Calibri';
        border: 1px solid gray;

        outline: none;
    }

    & input:focus, textarea:focus {
        border: 1px solid cornflowerblue;
    }

    & textarea {
        margin: 0rem .5rem 0rem .5rem;
        width: 97%;
        font: normal 0.85rem 'Calibri';
        height: 2.24rem;
        padding-left: .25rem;
        border: 1px solid gray;

        outline: none;
        resize: none;
    }

    & .mensagem {
        font: normal .9rem 'Calibri';
        color: red;
        display: inline-block;
        margin-left: .5rem;
    }
}

.obrigatorio {
    border: 1px solid red !important;
}

